body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: sans-serif;
}
::-webkit-scrollbar {
  width: 4px;
  height: 2px;
}

/* track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.55);
}

/* thumb */
::-webkit-scrollbar-thumb {
  background: #56565d;
  border-radius: 6px;
}

/* thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #8a90ff;
}
.drag-region {
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 9999;
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(31, 37, 69) !important;
}
.header {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 20px;
  padding-top: 20px;
}
.root-category {
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.category {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
  max-height: 30px;
  overflow: hidden;
}
.category-show {
  max-height: none;
}
.title-container {
  display: flex;
  align-items: center;
  flex: 1;
  height: 30px;
  cursor: pointer;
}
.total-refs {
  color: rgb(166, 207, 246);
  font-size: 12px;
  margin-left: 5px;
  font-weight: lighter;
}
.hover-text {
  color: rgba(115, 150, 238, 0.752);
  font-size: 12px;
  margin-left: 10px;
  font-style: italic;
  font-weight: lighter;
}
.action-button {
  margin-left: 8px;
  width: fit-content;
  background-color: transparent;
  cursor: pointer;
  font-size: 12px;
  border-radius: 3px;
}
.action-button:first-child {
  border: 1.5px solid rgb(96, 177, 96);
  color: rgb(71, 244, 100);
  background-color: rgba(120, 218, 120, 0.15);
}
.action-button:nth-child(2) {
  border: 1.5px solid rgb(91, 130, 219);
  color: rgb(107, 161, 255);
  background-color: rgba(91, 130, 219, 0.15);
}
.action-button:nth-child(3) {
  border: 1.5px solid rgb(219, 91, 91);
  color: rgb(255, 107, 107);
  background-color: rgba(219, 91, 91, 0.15);
}
.button-mode-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}
.button-mode {
  position: relative;
  width: fit-content;
  padding: 6px 10px;
  border-radius: 3px;
  border: 1.5px solid white;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: 0.6px;
  color: white;
  background-color: transparent;
}
.button-mode:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.button-mode-collect {
  border-color: rgb(174, 177, 96);
  color: rgb(233, 244, 71);
  background-color: rgba(218, 218, 120, 0.15);
}
.button-mode-create {
  border-color: rgb(91, 130, 219);
  color: rgb(107, 161, 255);
  background-color: rgba(91, 130, 219, 0.15);
}
.description-icon {
  position: relative;
  top: 2px;
  margin-left: 3px;
  font-size: 13px;
}
.description {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  padding: 8px;
  border-radius: 3px;
  background-color: rgba(34, 34, 34, 0.8);
  color: white;
  font-size: 12px;
  text-align: center;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  cursor: default;
  transition:
    opacity 0.3s linear,
    top 0.3s linear;
}
.description-show {
  top: 25px;
  opacity: 1;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  /* z-index: -1; */
  pointer-events: none;
  transition: opacity 0.3s linear;
}
.modal-show {
  opacity: 1;
  pointer-events: auto;
  z-index: 1000;
}
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative;
  width: auto;
  height: 70vh;
  aspect-ratio: 1.4/1;
  max-width: 90vw;
  padding: 20px;
  color: white;
  z-index: 1001;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 20px 10px rgba(255, 255, 255, 0.05);
  overflow: hidden;
}
.modal-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.modal-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}
.modal-content > h4 {
  margin-top: 0;
  text-align: center;
}
.category-input-container {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}
.category-error {
  position: absolute;
  pointer-events: none;
  bottom: -20px;
  left: 20px;
  font-size: 11px;
  color: orangered;
  font-weight: lighter;
  font-style: italic;
}
.form-input {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: center;
}
.form-left {
  position: relative;
  width: calc(50% - 10px);
  height: 100%;
}
.image-container {
  position: relative;
  width: 90%;
  height: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  padding: 10px;
  overflow: hidden;
}
#dropzone {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px dashed rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  z-index: 2;
}
.image-container > span {
  pointer-events: none;
  font-size: 14px;
  width: 80%;
}
.form-right {
  width: calc(50% - 10px);
  height: calc(100% - 20px);
}
.sm-content {
  width: 400px;
  height: 80px;
  aspect-ratio: initial;
}
.category-input {
  width: 90%;
  height: 30px;
  margin: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.7);
  color: white;
  font-size: 16px;
}
.category-input:focus {
  outline: none;
}
.hierarchy {
  display: block;
  width: 100%;
}
.hierarchy-tree {
  width: 100%;
  height: 40px;
  display: flex;
  margin-top: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.hierarchy-node {
  display: block;
  padding: 3px 5px;
  height: 20px;
  background-color: rgba(213, 213, 213, 0.299);
  font-size: 14px;
  font-weight: lighter;
  border-radius: 3px;
  white-space: nowrap;
  cursor: pointer;
}
.to {
  display: block;
  font-size: 10px;
  margin: 0 5px;
  padding: 5px 0;
}
.new-node {
  display: flex;
  cursor: pointer;
  opacity: 0.45;
}
.new-node > span:nth-child(2) {
  padding: 3px 5px;
  background-color: rgba(213, 213, 213, 0.299);
  font-size: 14px;
  font-weight: lighter;
  border-radius: 3px;
}
.tag-input-container {
  position: relative;
  margin-top: 15px;
}
.label-main {
  color: rgb(214, 65, 52);
  font-weight: bold;
}
.label-secondary {
  color: rgb(130, 182, 228);
}
.tag-input {
  display: block;
  width: 100%;
  height: 25px;
  background-color: transparent;
  border: 1px solid whitesmoke;
  margin-top: 10px;
  color: white;
  font-size: 14px;
}
.tag-input:focus {
  outline: none;
}
.main-tag-group {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  overflow-x: auto;
  margin-top: 10px;
}
.tag {
  position: relative;
  display: block;
  width: fit-content;
  height: 18px;
  padding: 3px 5px;
  background-color: bisque;
  border-radius: 3px;
  font-size: 14px;
  font-weight: lighter;
  cursor: pointer;
}
.main-tag {
  background-color: brown;
}
.main-tag-group span {
  white-space: nowrap;
  margin-right: 5px;
}
.tags > div:nth-child(2) {
  margin-top: 15px;
}
.secondary-tags-group {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 100px;
  overflow-y: auto;
}
.secondary-tags-group > div {
  display: flex;
  width: 100%;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
}
.secondary-tag {
  background-color: rgb(79, 138, 189);
}
.note-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  margin-top: 5px;
  background-color: transparent;
  font-size: 14px;
  color: white;
  resize: none;
}
.note-input:focus {
  outline: none;
}
.tooltip {
  position: relative;
  display: inline-block;
  font-weight: lighter !important;
}
.button-action {
  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: transparent;
  border: 1.5px solid whitesmoke;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer !important;
}
.button-action > .button-text {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.button-save {
  position: absolute;
  width: 40px;
  right: 15px;
  bottom: 30px;
  border-color: rgb(90, 137, 247);
  background-color: #8ac4ff2e;
}
.button-save > .button-text {
  color: rgb(229, 241, 255);
}
.button-cancel {
  position: absolute;
  width: 50px;
  right: 90px;
  bottom: 30px;
  border-color: rgb(255, 185, 185);
  background-color: #ffdcdc2e;
}
.button-cancel > .button-text {
  color: rgb(255, 213, 208);
}
.tag-exist {
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 10px;
  font-size: 12px;
  color: rgb(240, 79, 79);
  font-style: italic;
}
.reference-image {
  position: absolute;
  width: 100%;
  /* height: 100%; */
  z-index: 1;
}
.refs {
  display: flex;
  align-items: center;
  margin-left: 15px;
  margin-top: 3px;
  height: 18px;
}
.ref-node:hover {
  border-bottom: 1px solid rgb(117, 204, 255);
  cursor: pointer;
}
.ref-node {
  font-size: 14px;
  font-weight: normal;
  color: rgb(117, 204, 255);
  margin-left: 3px;
}
.ref-node-image {
  width: 15px;
  height: 15px;
}
.pick-node {
  display: none;
  font-size: 10px;
  color: #8a90ff;
  font-weight: lighter;
  font-style: italic;
  margin-left: 10px;
  cursor: pointer;
}
.refs:hover > .pick-node,
.refs:hover > .delete-node {
  display: block;
}
.pick-node:hover {
  border-bottom: 1px solid #8a90ff;
}
.delete-node {
  display: none;
  font-size: 10px;
  color: orangered;
  font-weight: lighter;
  font-style: italic;
  margin-left: 10px;
  cursor: pointer;
}
.delete-node:hover {
  border-bottom: 1px solid orangered;
}
.timer {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: -1;
}
.timer-play {
  opacity: 1;
  transition: transform 1.5s linear;
  transform: translateX(-100%);
}
.saved {
  border-color: greenyellow;
  background-color: rgba(172, 255, 47, 0.15);
}
.saved > .button-text {
  color: greenyellow;
}
.failed {
  border-color: orangered;
  background-color: rgba(255, 68, 0, 0.15);
}
.failed > .button-text {
  color: orangered;
}
.tag:hover > .delete-tag {
  display: block;
}
.delete-tag {
  position: absolute;
  display: none;
  top: -5px;
  right: -7px;
  font-size: 15px;
}
.move-to-bottom {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  opacity: 1;
  transition:
    transform 0.5s ease-out,
    opacity 0.5s ease-out 0.5s;
  transform: translate();
  pointer-events: none;
  z-index: 2;
}
.move-to-bottom > img {
  width: 100%;
  height: 100%;
}
.start-moving {
  transform: translate(calc(100vw - 55px), calc(100vh - 55px)) scale(3.33) !important;
  opacity: 0;
}
.picked-refs {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  border: 3px solid rgb(64, 139, 224);
  border-radius: 6px;
}
.picked-refs > img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.55;
}
.pick-counter {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: rgba(158, 201, 250, 0.15);
  z-index: 1;
  pointer-events: none;
}
.close-all {
  position: absolute;
  display: none;
  top: -10px;
  right: -8px;
  color: orangered;
  width: 14px;
  height: 14px;
  padding: 2px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  z-index: 2;
}
.picked-refs:hover > .close-all {
  display: block;
}
.viewer-modal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.viewer-content {
  position: relative;
  width: 100vw;
  height: 90vh;
  color: white;
  z-index: 1001;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 20px 10px rgba(255, 255, 255, 0.05);
  overflow: hidden;
}
.viewer-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.viewer-content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}
.viewer-content > h4 {
  position: relative;
  width: auto;
  margin-left: 15px;
  margin-top: 27px;
}
.copy-buttons {
  position: absolute;
  display: flex;
  top: 20px;
  right: 10px;
  column-gap: 10px;
}
.selected-refs-list {
  position: relative;
  display: flex;
  width: calc(100% - 10px);
  height: calc(100% - 100px);
  flex-wrap: wrap;
  padding: 10px 5px;
  overflow-y: scroll;
  justify-content: space-evenly;
  row-gap: 10px;
}
.selected-ref {
  position: relative;
  display: block;
  width: calc(100vw / 3 - 20px);
  height: 40vh;
  max-width: 250px;
  max-height: 400px;
  background-color: #0088ff1d;
  border: 2px solid slateblue;
}
.selected-ref-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55%;
  padding: 10px 0;
}
.selected-ref-image > img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.selected-ref-tags {
  position: relative;
  width: 100%;
  height: calc(45% - 25px);
}
.selected-ref-main-tag {
  position: relative;
  display: flex;
  justify-content: center;
  width: calc(100% - 20px);
  padding: 0 10px;
  overflow: hidden;
}
.selected-ref-secondary-tags {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  width: calc(100% - 20px);
  height: calc(100% - 34px);
  padding: 4px 10px;
  column-gap: 5px;
  row-gap: 5px;
  overflow-y: auto;
}
.copied {
  border-color: greenyellow;
  background-color: rgba(172, 255, 47, 0.15);
}
.copy-secondary-tags{
  position: absolute;
  opacity: 0;
  top: -10px;
  right: 45px;
  z-index: -2;
}
.copy-all-tags{
  position: absolute;
  opacity: 0;
  top: -10px;
  right: 5px;
  z-index: -2;
}
.selected-ref:hover>.copy-secondary-tags, .selected-ref:hover>.copy-all-tags{
  opacity: 1;
  z-index: 2;
}